<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Test Page</title>
    <th:block layout:fragment="headerfiles"></th:block>
</head>

<body>
<!-- Content Wrapper. Contains page content -->
<div layout:fragment="content" class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">Update bank</h1>
                </div>
                <!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a th:href="@{/home}">Dashboard</a></li>
                        <li class="breadcrumb-item"><a th:href="@{/banks}">Bank
                            Management</a></li>
                        <li class="breadcrumb-item active">Update bank</li>
                    </ol>
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
        <!-- Main row -->
        <div class="row">
            <div class="col-md-12">
                <div class="card card-primary">
                    <div class="card-header">

                        <h3 class="card-title">Update bank</h3>

                        <h3 class="card-title">Add Banks</h3>

                        <br>
                    </div>
                    <br>

                    <form method="post" th:action="@{/banks/update}" th:object="${bankDTO}">
                        <div class="card-body">
                            <div class="form-group">
                                <label for="code">Bank code</label> <input type="text" id="code" class="form-control" th:field="*{code}">
                            </div>
                            <div class="form-group">
                                <label for="legalName">Bank name</label>
                                <input type="text" id="legalName" class="form-control" th:field="*{legalName}">
                            </div>
                            <div class="form-group">
                                <label for="shortName">Bank short name</label>
                                <input type="text" id="shortName" class="form-control" th:field="*{shortName}">
                            </div>
                            <div class="form-group">
                                <label for="prefixCard">Prefix card</label>
                                <input type="text" id="prefixCard" class="form-control" th:field="*{prefixCard}">
                            </div>
<!--                            <div class="custom-control custom-checkbox">-->
<!--                                <input type="checkbox" class="custom-control-input" id="defaultChecked2" checked th:field="*{status}" th:value="true?1:0">-->
<!--                                <label class="custom-control-label" for="defaultChecked2">Active</label>-->
<!--                            </div>-->
                        </div>

                        <div class="col-12">
                            <a href="/categories" class="btn btn-secondary float-left">Cancel</a>
                            <input type="submit" value="Confirm" class="btn btn-success float-left"
                                   style="margin-left: 20px">
                        </div>
                    </form>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
        </div>
        <!-- /.row (main row) -->

    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->

<th:block layout:fragment="script"></th:block>
</body>

</html>