<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>SmartKids</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="application/x-javascript">


        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }


    </script>
    <!-- Custom Theme files -->
    <link th:href="@{/css/form.css}" rel="stylesheet" type="text/css"
          media="all"/>
    <!-- //Custom Theme files -->
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" th:href="@{images/icons/favicon.ico}"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{vendor/bootstrap/css/bootstrap.min.css}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{fonts/font-awesome-4.7.0/css/font-awesome.min.css}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{fonts/Linearicons-Free-v1.0.0/icon-font.min.css}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{vendor/animate/animate.css}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{vendor/css-hamburgers/hamburgers.min.css}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{vendor/animsition/css/animsition.min.css}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{vendor/select2/select2.min.css}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{vendor/daterangepicker/daterangepicker.css}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{css/util.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">
    <!--==============================================================================================-->
</head>
<body>

<!-- main -->
<div class="limiter">
    <div class="container-login100">
        <div class="login100-more" style="background-image: url('/images/bg-01.jpg');"></div>
        <div class="wrap-login100 p-l-50 p-r-50 p-t-72 p-b-50">
            <form class="login100-form validate-form" th:action="@{/signup}" th:object="${user}" method="POST"
                  enctype="utf8">
                <div class="container">
                    <h2 style="font-weight: bold">Create an account</h2>
                    <hr>

                    <div class="wrap-input100 validate-input" data-validate="Name is required">
                        <p th:if="${#fields.hasErrors('fullName')}" th:errors="*{fullName}"></p>
                        <span class="label-input100">Your full name</span>
                        <input class="input100" style="color: black" th:field="*{fullName}" type="text" name="fullName"
                               autofocus="true"
                               placeholder="Your full name ...">
                        <span class="focus-input100"></span>
                    </div>
                    <div class="wrap-input100 validate-input" data-validate="Valid email is required: ex@abc.xyz">
                        <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p>
                        <span class="label-input100">Email</span>
                        <input class="input100" style="color: black" th:field="*{email}" type="text" name="email"
                               placeholder="Email ...">
                        <span class="focus-input100"></span>
                    </div>
                    <div class="wrap-input100 validate-input" data-validate="Username is required">
                        <p th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}"></p>
                        <span class="label-input100">UserName</span>
                        <input class="input100" style="color: black" th:field="*{userName}" type="text" name="userName"
                               placeholder="UserName ...">
                        <span class="focus-input100"></span>
                    </div>
                    <div class="wrap-input100 validate-input" data-validate="Password is required">
                        <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></p>
                        <span class="label-input100">Password</span>
                        <input class="input100" style="color: black" th:field="*{password}" type="password" name="pass"
                               placeholder="*************">
                        <span class="focus-input100"></span>
                    </div>

                    <div class="wrap-input100 validate-input" data-validate="Repeat Password is required">
                        <span class="label-input100">Re-enter password</span>
                        <input class="input100" style="color: black" th:field="*{matchingPassword}" type="password" name="repeat-pass"
                               placeholder="*************">
                        <span class="focus-input100"></span>
                    </div>
                    <input type="submit" class="registerbtn" value="Create">

                </div>

                <div class="container signin">
                    <p>
                        Already have an account? <a th:href="@{/login}">Login</a>.
                    </p>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- //main -->
<script th:src="@{vendor/jquery/jquery-3.2.1.min.js}"></script>
<!--===============================================================================================-->
<script th:src="@{vendor/animsition/js/animsition.min.js}"></script>
<!--===============================================================================================-->
<script th:src="@{vendor/bootstrap/js/popper.js}"></script>
<script th:src="@{vendor/bootstrap/js/bootstrap.min.js}"></script>
<!--===============================================================================================-->
<script th:src="@{vendor/select2/select2.min.js}"></script>
<!--===============================================================================================-->
<script th:src="@{vendor/daterangepicker/moment.min.js}"></script>
<script th:src="@{vendor/daterangepicker/daterangepicker.js}"></script>
<!--===============================================================================================-->
<script th:src="@{vendor/countdowntime/countdowntime.js}"></script>
<!--===============================================================================================-->
<script th:src="@{js/main.js}"></script>
</body>
</html>